/* Home.styles.css */

.home {
    text-align: center; /* Centra el contenido */
    padding: 40px; /* Espaciado interno */
    background: linear-gradient(135deg, #ece9e6, #ffffff); /* Fondo degradado */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s; /* Transición para el efecto hover */
  }
  
  .home:hover {
    transform: scale(1.02); /* Efecto de zoom en hover */
  }
  
  .home-title {
    color: #34495e; /* Color del título */
    font-size: 32px; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .home-description {
    color: #555; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente del texto */
    margin: 10px 0; /* Espacio superior e inferior */
    line-height: 1.6; /* Espaciado entre líneas */
  }
  
  .cta-container {
    margin-top: 30px; /* Espacio superior */
  }
  
  .cta-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición para el hover */
  }
  
  .cta-button:hover {
    background-color: #0056b3; /* Color de fondo en hover */
  }
  