/* Footer.styles.css */

.footer {
  display: flex;             /* Habilitar Flexbox */
  justify-content: center;   /* Centrar contenido horizontalmente */
  align-items: center;       /* Centrar contenido verticalmente */
  flex-direction: column;    /* Colocar elementos en columna */
  background-color: #282c34;
  color: white;
  padding: 20px;
  width: 100%;
}

/* Agregar un estilo a los enlaces */
.footer a {
  color: white;              /* Color de los enlaces */
  text-decoration: none;     /* Sin subrayado */
  margin: 5px 10px;         /* Espaciado entre enlaces */
}

/* Estilos para dispositivos pequeños */
@media (min-width: 480px) and (max-width: 760px){
  .footer {
    padding: 10px;
    font-size: 14px;
  }
}
