/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f0f2f5;
  color: #333;
}

/* Estilos del layout */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header nav ul {
  list-style-type: none;
  display: flex;
}

.header nav ul li {
  margin-right: 20px;
}

.header nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #3498db;
}

/* Main content */
.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #f7f9fb;
}

/* Footer */
.footer {
  background-color: #34495e;
  color: #ecf0f1;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Dashboard */
.dashboard {
  display: flex;
  min-height: calc(100vh - 160px); /* Ajustar el tamaño sin el header/footer */
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Menú lateral */
.dashboard-menu {
  width: 250px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-menu h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ecf0f1;
  text-align: center;
}

.dashboard-menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.dashboard-menu ul li {
  margin-bottom: 15px;
}

.dashboard-menu ul li a {
  text-decoration: none;
  color: #ecf0f1;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.dashboard-menu ul li a:hover {
  background-color: #34495e;
}

.dashboard-menu ul li.active a {
  background-color: #2980b9;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-menu {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }

  .dashboard-menu ul {
    display: flex;
    justify-content: space-around;
  }

  .dashboard-menu ul li {
    margin: 0;
  }

  .dashboard-content {
    padding: 20px;
  }
}
